/.ipynb_checkpoints
/Advance House PRicing FE.ipynb
/airline_passengers.csv
/archive (1).zip
/AutoScraper.ipynb
/Churn_Modelling.csv
/Classified Data
/Classified Data (1).txt
/Classified-Data-_1_.csv
/Classified-Data.csv
/classified_data.csv
/Corona Virus.ipynb
/Credit Card.ipynb
/creditcard.csv
/Darts-TimeForcasting.ipynb
/dtale.ipynb
/EDA.ipynb
/EvalMl.ipynb
/FbProphet TimeSeries.ipynb
/file.csv
/git-hib-repositiories
/github-repositiories
/Hyperparameter Xgboost Using RandomisedSearchCV.ipynb
/Hypothesis Test.ipynb
/K-tale.ipynb
/LearningTheBase.ipynb
/pandas-visual-analysis.ipynb
/PCA-Principle Components Analysis.ipynb
/Performance Matrices.ipynb
/predictor.pkl
/Python & advanced.ipynb
/python+lib.ipynb
/Regression.ipynb
/Report.html
/Salary_Data.csv
/Shapash.ipynb
/SVM kernel.ipynb
/sweetviz lib.ipynb
/Test1.csv
/titanic3.csv
/titanic3.xls
/titanic_dataset.csv
/train.csv
/train1.csv
/untitled.txt
/WebScrapping by W3Cube.ipynb
/Winter Olympic Data - Raw Sports Data!.csv
/X_train1.csv
/yyytrain.csv